.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  display: inline-block;
  float:left;
}

.App-header {
  background-color: #303;
  height: 80px;
  padding: 20px;
  color: white;
}

.footer {
  background-color: #303;
  height: 40px;
  padding: 20px;
  color: rgba(255, 255, 248, 0.5);
  margin-top: 20px;
  font-size: 14px;
}

a:link, a:hover, a:active, a:visited {
  color: rgba(255, 255, 248, 0.5);
}

.container {
  max-width: 768px;
  width: 100%;
  text-align: center;
  display:inline-block;
  position:relative;
}

.product-card-image {
  height: 200px;
  width: 150px;
  border-radius: 5px;
  display: inline-block;
}

.nav-cart-button {
  float: right;
}

.product-card {
  display: inline-block;
  width: 182px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 5px;
}

.product-price {
  padding: 10px;
  font-style: italic;
}

.product-controls button, .cart-dialog-item button {
  margin: 10px;
  width: 25px;
}

.hidden {
  display: none;
}

.cart-widget {
  float: right;
}

.cart-widget:hover {
  cursor: pointer;
  color: #31dbf8;
}

.cart-widget.active {
  color: #31dbf8;
}

.cart-widget img {
  height: 20px;
  filter: opacity(1) white;
}

.cart-widget .widget-text-row {
  margin-bottom: 5px;  
}

.cart-widget .total-number {
  font-style: italic;
}

.cart-dialog {
  width: 300px;
  border: 1px solid black;
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 0px;
  right: 0;
  position: absolute;
  z-index: 2;
  background-color: white;
}

.cart-dialog.active {
  display: block;
}

.cart-dialog-item img {
  height: 28px;
  width: 21px;
  margin: 8px 10px;
  vertical-align: middle;
}

.cart-dialog-item .sum {
  display: inline-block;
  width: 65px;
  text-align: right;
  font-style: italic;
}

.cart-dialog-item .sum:after {
  content: ' €';
  font-style: italic;
}

.cart-dialog-item .count {
  display: inline-block;
  width: 30px;
}

.cart-dialog button[type="submit"] {
  width: 90%;
  height: 40px;
  margin: 5px;
}


.cart-dialog .hide-chevron-block {
  padding-top: 5px;
}

.cart-dialog .hide-chevron-block:hover {
  cursor:pointer;
  color: #31dbf8;
}

.cart-dialog .cart-notice {
  padding: 10px;
}

.chat-button {
  position: fixed;
  border: 1px solid black;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 3;
}


.chat-button:hover {
  cursor:pointer;
}

.chat-button .chat-icon {
  padding-right: 10px;
}

.chat-button:hover .chat-icon {
  color: #31dbf8;
}

.chat-box {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color:  rgba(255, 255, 255, 0.95);
  z-index: 3;
}

.chat-box .chat-header {
  background-color: #303;
  position: relative;
  height: 30px;
}

.chat-box .chat-header .minimize-icon {
  color: white;
  float: right;
  padding-right: 10px;
}
.chat-box .chat-header:hover {
  cursor:pointer;
  color: #31dbf8;
}

.chat-box .chat-header:hover .minimize-icon {
  color: #31dbf8;
}

.chat-box .chat-messages {
  height: 300px;
}

.chat-controls {
  margin: 10px;
}

.chat-controls input {
  height: 30px;
}

.chat-controls input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding: 10px;
}

.chat-controls span{
  display: block;
  overflow: hidden;
}

.chat-controls input[type="submit"]{
  float: right;
  height: 36px;
}

.chat-messages {
  vertical-align: bottom;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-flow: column;  
}

.chat-messages .chat-message-wrapper {
  overflow: hidden;
  margin:5px;
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  flex-grow: 1;
  vertical-align: bottom;
}

.chat-message-wrapper-client {
  align-items: flex-end;
}

.chat-message-wrapper-response {
  align-items: flex-start;
}

.chat-message {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  max-width: 75%;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
}

.chat-message-client {
  background-color: white;
}

.chat-message-response {
  background-color: #303;
  color: white;
}

@media only screen and (max-width: 768px) {
  .cart-dialog {
    width: 100%;
  }

  .chat-box {
    width: 100%;
    right: 0;
  }
}